

<div class="row">
	<div class="large-8 columns">
		<img src="images/me-pensive.jpg" alt="">
	</div>
	<div class="large-4 columns">
		<h1>About Scott</h1>
		<p>Hello! I am a full-stack web developer specializing in Ruby on Rails, Javascript, and Python. I love to compose and play music, sing karaoke, and cook almost as much as I love to code!</p>
		<div>
			<p>Here is my email address: <a href="mailto:scottlnorvell@gmail.com">scottlnorvell@gmail.com</a></p>
		</div>
		<div>
			<p>Connect with me on Linkedin: <a class="contact-link" href="http://www.linkedin.com/in/scottlnorvell" target="_blank">www.linkedin.com/in/scottlnorvell/</a></p>
		</div>
		<div>
			<p>Peruse some code at my GitHub: <a class="contact-link" href="https://github.com/ScottLNorvell" target="_blank">github.com/ScottLNorvell</a></p>
		</div>
		<div>
			<p>See what I tweet at Twitter: <a class="contact-link" href="https://twitter.com/scottlnorvell" target="_blank">@scottlnorvell</a></p>
		</div>
		
	</div>
</div>